#nav{
	margin: 20px;
  border: solid;
  border-width: thin;
  padding: 20px;
  background-color: whitesmoke;
  font-size: 20px;
}
.logo{
	margin-left: 50px;
}
.search{
  margin-left: 80px;
  width: 250px;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  height: 26px;
  font-size: 20px;
}
.Gallery{
  margin-left: 80px;
}
.about{
	margin-left: 80px;
	text-decoration: none;
	color: unset;
}
.Programs{
	margin-left: 80px;
	color: unset;
	font: bold;
}
.crm{
	margin-left: 80px;
}
.button1{
	margin-right: 80px;
  width: 35px;
  height: 15px;
}
.menubar{
  float: right;
}
.dropdown-content {
  display: none;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  border: solid;
  border-width: thin;
  padding: 10px;
}
.dropdown-content a:hover {
  background-color: grey;
}
.menubar:hover .dropdown-content {
  display: block;
}