#nav{
	margin: 20px;
  border: solid;
  border-width: thin;
  padding: 20px;
  background-color: whitesmoke;
  font-size: 20px;
}
.logo{
	margin-left: 50px;
}
.search{
  margin-left: 80px;
  width: 250px;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  height: 26px;
  font-size: 20px;
  background-color: whitesmoke;
}
.Gallery{
  margin-left: 80px;
}
.about{
	margin-left: 80px;
	text-decoration: none;
	color: unset;
}
.Programs{
	margin-left: 80px;
	color: unset;
	font: bold;
}
.crm{
	margin-left: 80px;
}
.button1{
	margin-right: 80px;
  width: 40px;
  height: 10px;
  border: 1px solid;
  background-color: whitesmoke;
}
.button2{
  position: absolute;
  width: 40px;
  height: 10px;
  border: 1px solid;
  background-color: whitesmoke;
}
.menubar{
  float: right;
}
.dropdown-content {
  display: none;
  margin-top: 60px;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  border: solid;
  border-width: thin;
  padding: 10px;
  margin-top: 10px;
  background-color: whitesmoke;
}
.dropdown-content a:hover {
  background-color: grey;
}
.menubar:hover .dropdown-content {
  display: block;
}