.user-box{
	margin-right: 600px;
	background-color: #ececec;
	position: relative;
	margin-top: 50px;
	margin-left: 50px
}
.usname{
	font-size: 25px;
	background-color: #66a5ff;
	padding-left: 20px;
    color: white;
}
.user-in{
	width: 450px;
	margin-top: 5px;
    margin-left: 10px;
}
.grid-container{
	display: grid;
	grid-template-columns: 162px 147px 50px 78px 78px 80px;
	margin-left: 10px;
	grid-template-rows: repeat(12,25px);
	padding-bottom: 20px;
}
.grid-container > div{
	padding: 2px;
	background-color: white;
	margin-top: 2px;
	font-size: 15px;
	padding-left: 10px;
}
.ybutton{
	border: 1px solid;
    background-color: #91ec31;
    border-style: outset;
}
#container{
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	padding-bottom: 20px;
}
#container div{
	text-align: center;
	color: #66a5ff;
	margin: 1px;
	padding: 5px;
	background-color: white;
}
#div2{
	font-size: 10px;
  background-color: #ececec;
  position: absolute;
  left: 700px;
  top: 140px;
}
.cuser{
	font-size: 25px; 
	background-color: #66a5ff;
	color: white;
	padding-left: 20px;
}
#form1{
	margin: 20px 25px 30px 25px;
}
label{
	font-size: 15px;
	padding-left: 10px;
	font-style: initial;
}
#email{
	margin-left: 70px;
  width: 340px;
  }
#pass{
	margin-left: 50px;
}
#coun{
	width: 145px;
  margin-left: 13px;
}
#active{
	margin-left: 70px;
}
#admin{
	margin-left: 80px;
}
#admin1{
	margin-left: 50px;
}
#display{
	margin-left: 30px;
}
#submit{
	margin-left: 47px;
}
#submit1{
	margin-left: 50px;
}
#trans{
	margin-left: 45px;
}
#dash{
	margin-left: 30px;
}
#dash1{
	margin-left: 45px;
}
#show{
	margin-left: 60px;
}
#priv{
	margin-left: 45px;
}
#priv1{
	margin-left: 45px;
}
#key{
  margin-left: 55px;
}
#time{
	margin-left: 27px;
}
#login{
	margin-left: 35px;
}
#button1{
	border: none;
  color: white;
  background: #66a5ff;
  margin-left: 130px;
  height: 25px;
}